body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 1em .5em;
}

a {
    color: crimson;
}

h1 {
    text-align: center;
    color: crimson;
}

.seperator {
    width: 90%;
    height: .5em;
    background-color: crimson;
    margin: .75em 5%;
    padding: 0;
}

/* Align forms */
form {  display: table; border-spacing: .5em;  }
form > div {  display: table-row;  }
form > div > *:not(br) {  display: table-cell  }
form > div > span:first-child {  text-align: right  }

/* Style the toolbar */
#toolbar {
    background-color: grey;
    font-size: 20px;
    width: 100%;
/*    position: fixed;
    top: 20px;
    left: 0;*/
}
#toolbar > *:first-child {  margin-left: 1em;  }
#toolbar > * {
    background-color: crimson;
    padding: .5em 1em;
    color: bisque;
}
#toolbar > *:hover {  border: solid black;  }
#curr_header {
    background-color: gold;
    color: grey;
}
