//include index.html
extends layout

block append headers
    -currHeader = 'About'
    title About HoverX
block append content
    h1=currHeader
    p HoverX uses the latest <newfangled technology> to generate self-balancing gyroscope stability.
    p Hoverboards were created <pretty recently>, so safety standards are being worked on.
    p However, we have taken extraordinary care in developing our hoverboard.
    div#safety
        p By buying a hoverboard, you acknowledge the risks of using this hoverboard.
        p Do not transport hoverboards by airplane.
    div#credits
        | This website was designed for a CSCI 3800 Project.
        br
        | Team: The Whos
        br
        | Members: Anthony Areniego, Bill Adona, Duc Lee, Jacob Graves, Kevin Yang
