//include test.html
extends layout

block append headers
    -currHeader = 'Home'
    title HoverX
block append content
    h1=currHeader
    p HoverX, the next great hit in derbies everywhere!
    p Want to look cool while rolling in style?
    p Forget the skateboard, HoverX is the AWESOMEST.
    div#safety
        p We are not responsible for any explosions incurred by gazing upon HoverX. Side-effects include explosions, deaxphiliation, and apple trees. Do not ride for extended periods of time.
