doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        block headers
    body
        h2#banner BANNER
        #toolbar
            // Make all the headers
            -
                headers = [
                    {name:'Home', path:'home'},
                    {name:'Buy', path:'buy'},
                    {name:'About', path:'about'}
                ]
            each header in headers
                if header.name == currHeader
                    a#curr_header #{header.name}
                else
                    a(href=header.path) #{header.name}
        block content
